.component-card {
  transition: all .3s ease-in-out;
}

.component-card.is-x-active {
}

.component-card.is-y-active {
}

.component-card.is-x-active.is-y-active {
  box-shadow: 0 0 30px 8px rgba(0, 0, 0, .5);
  transform: scale(1.8);
}