.component-card {
  width: 100%;
  height: 100%;
  transition: all .3s ease-in;
}

.component-card.is-x-active {
}

.component-card.is-y-active {
}

.component-card.is-x-active.is-y-active {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
  transform: scale(1.2);
}