* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-content {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}
.App-content > section {
  display: flex;
  flex:3;
  min-height: 800px;
  justify-content: center;
}
.App-content > aside {
  flex: 1;
  padding: 0 10px;
  text-align: left;
}